#searchResult {
    display: none;
    margin: 0;
}
#info {
    font-size: 120%;
}
.jumbotron {
    background-color: #94F3D3;
}
.bottomJumbo {
    background-color: black;
    color: whitesmoke;
    margin-bottom: 0;
}
.block {
    border: 3px solid grey;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
}
#left {
    float: left;
}
#right {
    float: right;
}