<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="myAccount.css">
        
        <title>That Thing | My Account</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/employee/home/upcomingEvents">TT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0" action="/employee/searchJobs">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Jobs</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/home/upcomingEvents">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/employee/myAccount">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employeeLogOut">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        
        <div class="container">
            <div class="uploads">
                <h4 class="text-center header">Uploads</h4>
                <div class="row">
                    <div class="col">
                        {{#if employeeDetail.profileImage}}
                            <div class="row">
                                <div class="col">
                                    <h6>Uploaded Profile Image</h6>
                                </div>
                                <div class="col">
                                    <form method="post" enctype="multipart/form-data" action="/employee/myAccountProfileImageDelete">
                                        <button type="submit" class="iconBtn"><img src="../../icons/delete.png" class="icon"></button>
                                    </form>
                                </div>
                            </div>
                            <img src="uploads/profileImage/{{employeeDetail.profileImage}}" width=auto height="350px">
                        {{else}}
                            <h6>Profile image upload<br><span style="font-size: 12px;"><ul><li>Please make sure it's NOT a PDF you're uploading.</li></ul></span></h6>
                            
                            <form method="post" enctype="multipart/form-data" action="/employee/myAccountProfileImageUpload">
                                <div class="input-group">    
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filename" name="filename">
                                        <label class="custom-file-label" for="customFile">Choose profile image</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">Upload profile image</button>
                                    </div>    
                                </div>    
                            </form>
                        {{/if}}
                    </div>
                    <div class="col">
                        {{#if employeeDetail.resume}}
                            <div class="row">
                                <div class="col">
                                    <h6>Uploaded resume</h6>
                                </div>
                                <div class="col">
                                    <form method="post" enctype="multipart/form-data" action="/employee/myAccountResumeDelete">
                                        <button type="submit" class="iconBtn"><img src="../../icons/delete.png" class="icon"></button>
                                    </form>
                                </div>
                            </div>
                            <embed src="uploads/resume/{{employeeDetail.resume}}" type="application/pdf" width=100% height=350px/>
                        {{else}}
                            <h6>Resume upload<br><span style="font-size: 12px;"><ul><li>Please make sure you're uploading a PDF.</li></ul></span></h6>
                            <form method="post" enctype="multipart/form-data" action="/employee/myAccountResumeUpload">
                                <div class="input-group">    
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filename" name="filename">
                                        <label class="custom-file-label" for="customFile">Choose resume</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">Upload resume</button>
                                    </div> 
                                </div> 
                                <small class="form-text text-muted">Please upload your resume as a .pdf file.</small>
                            </form>
                        {{/if}}
                    </div>
                </div>
                {{#if employeeDetail.photoId}}
                    <h6 style="margin-top: 40px;">Photo Id has been uploaded!</h6>

                    <form method="post" enctype="multipart/form-data" action="/employee/myAccountPhotoIdDelete">
                        <button type="submit" class="iconBtn" id="deletePho"><img src="../../icons/delete.png" class="icon"></button>
                    </form>
                {{else}}
                    <h6>Photo Id upload<br><span style="font-size: 12px;"><ul><li>Please make sure it's NOT a PDF you're uploading.</li></ul></span></h6>
                    <form method="post" enctype="multipart/form-data" action="/employee/myAccountPhotoIdUpload">
                        <div class="input-group">    
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="filename" name="filename">
                                <label class="custom-file-label" for="customFile">Choose photo id</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Upload photo id</button>
                            </div>    
                        </div>    
                    </form>
                {{/if}}
            </div>    
            <div class="uploads">
                <h4 class="text-center header">Details</h4>
                <form method="post" action="/employee/myAccountEdit">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{employeeDetail.name}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="linkedin">LinkedIn name</label>
                                <input type="text" class="form-control" id="linkedin" name="linkedin" value="{{employeeDetail.linkedin}}">
                                <small class="form-text text-muted">Providing a LinkedIn name or your resume increases your chances of finding work.</small>
                            </div>
                        </div>    
                    </div>    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{sessEmployee.email}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="phone">Phone number</label>
                                <input type="number" class="form-control" id="phone" name="phone" value="{{employeeDetail.phone}}">
                            </div>
                        </div>    
                    </div>   
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option hidden>{{employeeDetail.gender}}</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                    <option>Do not want to share</option>
                                </select>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="form-group">
                                <label for="birthDate">Birth date</label>
                                <input type="text" class="form-control" id="birthDate" name="birthDate" value="{{employeeDetail.birthDate}}">
                            </div>
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" value="{{employeeDetail.city}}">
                            </div>
                        </div>    
                        <div class="col">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country" value="{{employeeDetail.country}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="postalCode">Postal code</label>
                                <input type="text" class="form-control" id="postalCode" name="postalCode" value="{{employeeDetail.postalCode}}">
                            </div>
                        </div>
                    </div>    
                    <div class="form-group">
                        <label for="interestedIn">Interested in</label>
                        <textarea class="form-control" id="interestedIn" name="interestedIn">{{employeeDetail.interestedIn}}</textarea>
                        <small class="form-text text-muted">Please type what jobs you would be interested in mostly: WAITER/WAITRESS; BARTENDER; COOK; DISHWASHER; CLEANER, and about yourself :)</small>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <h4>Reference 1<br><span style="font-size: 12px;"><ul><li>Please include your ex-work places or non-relatives.</li></ul></span></h4>
                            <div class="form-group">
                                <label for="refOneName">Name</label>
                                <input type="text" class="form-control" id="refOneName" name="refOneName" value="{{employeeDetail.refOneName}}">
                            </div>
                        </div>
                        <div class="col">
                            <h4>Reference 2<br><span style="font-size: 12px;"><ul><li>Please include your ex-work places or non-relatives.</li></ul></span></h4>
                            <div class="form-group">
                                <label for="refTwoName">Name</label>
                                <input type="text" class="form-control" id="refTwoName" name="refTwoName" value="{{employeeDetail.refTwoName}}">
                            </div>
                        </div>    
                    </div> 
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="refOneDescription">Description</label>
                                <input type="text" class="form-control" id="refOneDescription" name="refOneDescription" value="{{employeeDetail.refOneDescription}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="refTwoDescription">Description</label>
                                <input type="text" class="form-control" id="refTwoDescription" name="refTwoDescription" value="{{employeeDetail.refTwoDescription}}">
                            </div>
                        </div>    
                    </div> 
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="refOneEmail">Email</label>
                                <input type="email" class="form-control" id="refOneEmail" name="refOneEmail" value="{{employeeDetail.refOneEmail}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="refTwoEmail">Email</label>
                                <input type="email" class="form-control" id="refTwoEmail" name="refTwoEmail" value="{{employeeDetail.refTwoEmail}}">
                            </div>
                        </div>    
                    </div> 
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="refOnePhone">Phone</label>
                                <input type="number" class="form-control" id="refOnePhone" name="refOnePhone" value="{{employeeDetail.refOnePhone}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="refTwoPhone">Phone</label>
                                <input type="number" class="form-control" id="refTwoPhone" name="refTwoPhone" value="{{employeeDetail.refTwoPhone}}">
                            </div>
                        </div>    
                    </div> 
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>    
        </div> 
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="myAccount.js" type="text/javascript"></script>
    </body>
</html>